@model Data.Entities.Reservation

@{ ViewData["Title"] = "Delete"; }

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IncludedBreakfast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IncludedBreakfast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAllInclusive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAllInclusive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
