@model IEnumerable<Data.Entities.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>
<br>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncludedBreakfast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAllInclusive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncludedBreakfast)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAllInclusive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalPrice)
                </td>

                <td>
                    @if (User.Identity.Name == "admin@abv.bg")
                    {<a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>}
                    @if (User.Identity.Name == "admin@abv.bg")
                    {<a asp-action="Delete" asp-route-id="@item.Id">Delete |</a>}
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
