@model IEnumerable<Data.Entities.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Delete users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Middle name
            </th>
            <th>
                Last name
            </th>
            <th>
                Acitve
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Phone number
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>